[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=/dockerstartup/google-chrome-docker %U
Terminal=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Google-chrome
StartupNotify=true

[Desktop Action NewWindow]
Name=Open a New Window
Exec=/dockerstartup/google-chrome-docker

[Desktop Action Incognito]
Name=Open a New Incognito Window
Exec=/dockerstartup/google-chrome-docker --incognito
